<launch>
  <!--Load urdf to param server-->
  <arg name="use_tf_static" default="false"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sensor_stick)/urdf/sensor_stick.urdf.xacro'"/>

  <!--GUI used to send fake joint values-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>

  <!--Publish robot state to TF-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="use_tf_static" value="$(arg use_tf_static)"/>
    <remap from="/joint_states" to="/sensor_stick/joint_states" />
  </node>
</launch>
